.historyContainer{


}

.historyContainer .historyTitle{
    height:22px;
    padding-top:9px;
}

.historyContainer .historyTitle .glyph{
    display: inline-block;
    position: relative;
    padding: 0px 10px 0px 10px;
    color: #1D1D1B;
    text-decoration: none;
    vertical-align: middle;
    font-size: 18px;
}

.historyContainer .historyTitle .historyLabel{
    font-size:1.125em;
    font-weight:bold;
    padding-top:10px;

}

.historyContainer .history_search_container .history_search{
    width:262px;
}


.historyContainer .history_search_container {
    text-align: center;
    line-height: 19px;
    height: 30px;
    display: block;
    width: 100%;
}

.historyContainer .count{
    display: inline-block;
    background: #45484D;
    color: #D6D6D6;
    font-weight: 600;
    font-size: 10px;
    padding: 1px 8px;
    position: absolute;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    top: 10px;
    right: 15px;
    line-height: normal;
}

.historyListGrid{

}

.historyListGrid .dgrid-column-icon{
    width:22px;
}
.historyListGrid .dgrid-column-label{
    width: 238px;
    cursor: pointer;
}
.historyListGrid .dgrid-column-button{
    width:22px;
    border-right:none;
    /* font-size: 1.125em; */
    /* padding-top: 0px; */
    /* padding-bottom: 0px; */
    cursor: pointer;
}

/*
.historycontainer  > ul > li.active .count {
    background: #214460;
    box-shadow: 0 1px 0 #96A8B7;
    -moz-box-shadow: 0 1px 0 #96a8b7;
    -webkit-box-shadow: 0 1px 0 #96A8B7;
    top: 11px;
}
.historycontainer  > ul > li .count {

}

.historycontainer {
    overflow:visible !important;
    padding:0px !important;
    margin-bottom: 15px;
}
.historycontainer > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
}


.historycontainer #historylist {
    height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #FFF;
}

.historycontainer  > ul > li:first-child {
    border-top: 1px solid #ACAEB0;
}
.historycontainer  .historytitle {
    height: auto;
    border-bottom: 1px solid #DDD;
    font-weight: bold;
}

.historycontainer > ul > li {
    display: block;
    height: 39px;
    line-height: 39px;
    border-bottom: 1px solid #ACAEB0;
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.historycontainer .history_search {
    width:262px;
}

.historycontainer .history_search_container {
    text-align: center;
    line-height: 19px;
    height: 30px;
    display: block;
    width: 100%;
}

#historylist a,
#historylist li{
    height: 20px;
    line-height: normal;
    padding-right: 0px;
    padding-top: 2px;
    padding-left: 2px;
    padding-bottom: 0px;

}
#historylist a.history_element{
    width:250px;
    float:left;
    height: 1.5em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color:black;
}

#historylist a.history_button{
    width:10px;
    float:right;
}

#historylist li{
    border-bottom: 1px #fcfcfc solid;
    padding-bottom: 2px;
}
#historylist li:hover{
    background-color: #fcfcfc;
}
.historycontainer  .glyph{
    display: inline-block;
    position: relative;
    padding: 2px 10px 0px 10px;
    color: #1D1D1B;
    text-decoration: none;
    vertical-align: middle;
    font-size: 18px;
}

.historycontainer .historytitle{
    height: auto;
    border-bottom: 1px solid #DDD;
}
*/