<div>
    <div data-dojo-attach-props="region:'top'">
        <div class="historyTitle">
            <span class="glyph icon-dozehistory "></span><span class="historyLabel">History</span>
            <span class="count">1</span>
        </div>
        <div class="history_search_container">
            <div data-dojo-type="dijit.form.TextBox" data-dojo-attach-point="searchNode" class="history_search" data-dojo-props="id:'history_search_textbox',selectOnClick:true,placeHolder: 'Filter ..',intermediateChanges:true">

            </div>

        </div>
    </div>
    <div data-dojo-attach-point="gridNode" data-dojo-attach-props="region:'center'" class="historyListGrid"> </div>  
</div>


