<div class="filterContainer" data-dojo-attach-point="containerNode">
    <div style="display:inline" class="label"><span data-dojo-attach-point="labelNode"></span></div>
    <div data-dojo-attach-point="valueNode" style="display:inline"></div>
    <div data-dojo-attach-point="valueNode2" style="display:inline"></div>
</div>