<div class="operatorFilterContainer">
    <div class="operatorFilterLabel">${label}</div>
    <div class="operatorFilterOperatorContainer"><div data-dojo-attach-point="operatorNode" class="operatorFilterOperator"></div></div>
    <div data-dojo-attach-point="valueNode" class="operatorFilterValue"></div>
    <div data-dojo-attach-point="valueNode2" class="operatorFilterValue2"></div>
    <span class="minusContainer">
        <a href="javascript:void(0)" class="iconMinus" data-dojo-attach-point="buttonNode">${i18n.REMOVE}</a>
    </span>
</div>
