.plusIcon, .plusBlockIcon {
    background-image: url("images/plus.gif");
    background-position: center center;
    background-repeat: no-repeat;
    height: 18px;
    width: 18px;
}
.plusBlockIcon {
    display: block !important;
}
.dozeFilter {
    border: 1px solid #D3D3D3;
    margin-bottom: 10px;
    padding: 0px;
    box-shadow: 0px 1px 10px #E8E8E8;
}

.dozeFilter .titleContainer {
    height:26px;
    width:100%;
    vertical-align: middle;

}




.dozeFilter .titleContainer  .searchLeftCornerNode{
    padding:3px;
    float: left;
    text-align: left;
}

.dozeFilter .titleContainer  .searchResultCountNode{
    color: #666;
    padding:3px;
    border-bottom: 1px dotted #777;
    border-left: 1px dotted #777;
    float: right;
    text-align: right;
}

.dozeFilter .titleContainer  .searchResultCountNodeTotal {
    font-weight: bold;
    color: #333;
}
.dozeFilter .filterContainer{
    padding:3px;
    width:100%
}

.dozeFilter .filterContainer .operatorFilterContainer{
    display: inline-block;
    width:100%;
    margin-bottom: 4px;
}

.dozeFilter .filterContainer .operatorFilterContainer .minusContainer{
    display: none;
}

.dozeFilter .filterContainer .operatorFilterContainer:hover .minusContainer{
    display: inline;
}


.dozeFilter .filterContainer .operatorFilterContainer .operatorFilterLabel{
    display: inline-block;
    color:#45484D;
    border-radius:2px;
    /*background-color: #c6c6c6;*/
    padding: 3px;
    vertical-align: middle;
    font-weight: bold;
    width:150px;
    text-align: right;
}
.dozeFilter .operatorFilterOperatorContainer{
    width:100px;
    display: inline-block;
}
.dozeFilter .filterContainer .operatorFilterContainer .dijitSelect {
    display: inline-block;
    color:#45484D;
    /*background-color: #c6c6c6;*/
    /*font-weight: bold;*/
    border:none;
}
.dozeFilter .filterContainer .operatorFilterContainer .dijitSelect .dijitButtonContents{


    border:none;
}

.dozeFilter .filterContainer .operatorFilterContainer .dijitSelect .dijitSelectLabel{
    text-decoration:underline;
}
.dozeFilter .filterContainer .operatorFilterContainer .dijitSelect .dijitArrowButton {

    border:none;
    background:none;
}


.dozeFilter .filterContainer .operatorFilterContainer .operatorFilterValue{
    display: inline-block;
    font-weight: bold;
    color:#45484D;
}
.dozeFilter .filterContainer .operatorFilterContainer .operatorFilterValue2{
    display: inline-block;
    font-weight: bold;
    color:#45484D;
}
.dozeFilter .searchButtonsContainer{    
    height:40px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.dozeFilter .searchButtonsContainer .fieldsDropButton{
    float: left;
}
.dozeFilter .searchButtonsContainer .fieldsDropButton.dijitDropDownButton  .dijitButtonNode{
    /* rules for the dijit.form.*Button widgets (see also ComboButton section below) */

    cursor: pointer;
    -moz-box-shadow:inset 0px 1px 0px 0px #45484D;
    -webkit-box-shadow:inset 0px 1px 0px 0px #45484D;
    box-shadow:inset 0px 1px 0px 0px #45484D;

    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #45484D), color-stop(1, #45484D));
    background:-moz-linear-gradient(top, #45484D 5%, #5972a7 100%);
    background:-webkit-linear-gradient(top, #45484D 5%, #5972a7 100%);
    background:-o-linear-gradient(top, #45484D 5%, #45484D 100%);
    background:-ms-linear-gradient(top, #45484D 5%, #45484D 100%);
    background:linear-gradient(to bottom, #45484D 5%, #45484D 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#45484D', endColorstr='#45484D',GradientType=0);

    background-color:#45484D;

    border:1px solid #45484D;

    color:#ffffff;
    font-size:0.75em;
    font-weight: bold;
    /*border-radius:4px;*/

}
.dozeFilter .searchButtonsContainer .fieldsDropButton.dijitDropDownButton  .dijitButtonText{
    /* rules for the dijit.form.*Button widgets (see also ComboButton section below) */

    padding:4px;
}



.dozeFilter .searchButtonsContainer .filterDropButton{
    float: left;
}

.dozeFilter .searchButtonsContainer .filterDropButton.dijitComboButton{
    /*border-radius:4px;*/

}

.dozeFilter .searchButtonsContainer .filterDropButton.dijitComboButton  .dijitButtonNode{
    /* rules for the dijit.form.*Button widgets (see also ComboButton section below) */

    cursor: pointer;
    -moz-box-shadow:inset 0px 1px 0px 0px #45484D;
    -webkit-box-shadow:inset 0px 1px 0px 0px #45484D;
    box-shadow:inset 0px 1px 0px 0px #45484D;

    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #45484D), color-stop(1, #45484D));
    background:-moz-linear-gradient(top, #45484D 5%, #5972a7 100%);
    background:-webkit-linear-gradient(top, #45484D 5%, #5972a7 100%);
    background:-o-linear-gradient(top, #45484D 5%, #45484D 100%);
    background:-ms-linear-gradient(top, #45484D 5%, #45484D 100%);
    background:linear-gradient(to bottom, #45484D 5%, #45484D 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#45484D', endColorstr='#45484D',GradientType=0);

    background-color:#45484D;

    border:1px solid #45484D;

    color:#ffffff;
    font-size:0.75em;
    font-weight: bold;

}

.dozeFilter .searchButtonsContainer .filterDropButton.dijitComboButton  .dijitStretch.dijitButtonNode{
    border-right: 2px dotted white;

}

.dozeFilter .searchButtonsContainer .filterDropButton.dijitComboButton  .dijitButtonText{
    /* rules for the dijit.form.*Button widgets (see also ComboButton section below) */
    padding:4px;
}


.dozeFilter .searchButtonsContainer .btnApplyFilter{
    float: right;
}

.dozeFilter .searchButtonsContainer .exportDropButton{
    float: right;
}