<div>
    <div class="sixteen columns" style="height:40px;text-align: right" >
        <div data-dojo-type="dijit.form.Button" data-dojo-attach-point="saveButton" data-dojo-attach-event="onClick: save"  data-dojo-props="title:'Save',iconClass:'icon-dozedisk',disabled:at('widget:${id}','dirty').direction(at.from).transform({format: function(value){return !value;}})">
            Save
        </div>
        <div class="buttonSeparator"></div>
        <div data-dojo-type="dijit.form.Button"  data-dojo-attach-event="onClick: cancel" data-dojo-props="title:'Cancel',iconClass:'icon-dozeccw',disabled:at('widget:${id}','dirty').direction(at.from).transform({format: function(value){return !value;}})">
            Cancel
        </div>
    </div>
    <div data-dojo-attach-point="generator"  class="eight columns" data-dojo-type="doze/mvc/Generate"></div>
</div>