<div class="dozeFilter">
    <div class="titleContainer">
        <span data-dojo-attach-point="leftCornerNode" class="searchLeftCornerNode"></span>
        <span data-dojo-attach-point="countNode" class="searchResultCountNode">${i18n.CLICK_ON_OBTAIN_RESULTS}</span>
    </div>
    <div class="filterContainer">
        <div data-dojo-attach-point="filtersNode"></div>
    </div>
    <div class="searchButtonsContainer" data-dojo-attach-point="buttonsNode">
        <div class="fieldsDropButton" data-dojo-type="dijit.form.DropDownButton" data-dojo-props="iconClass:'icon-dozeplus',  class:'inverse', label:'${i18n.ADD_CRITERIA}'" data-dojo-attach-point="fieldsDropButton">${i18n.ADD_CRITERIA}</div>
        <div class="filterDropButton" data-dojo-type="dijit.form.ComboButton" data-dojo-props="iconClass:' icon-dozefilter',  class:'inverse', label:'${i18n.PRESELECT_FILTER}...'" data-dojo-attach-point="presetsDropButton">${i18n.PRESELECT_FILTER}...</div>
        <div class="exportDropButton" data-dojo-type="dijit.form.DropDownButton" data-dojo-props="title:'More actions...',label:'&zwnj;', iconClass:'doze-iconcog'"  data-dojo-attach-point="exportDropButton"></div>
        <button class="btnApplyFilter" type="button"  accesskey="s" data-dojo-type="dijit/form/Button" data-dojo-attach-point="btnApplyFilter" data-dojo-props="iconClass:'icon-dozesearch', class:'primary',label:'${i18n.APPLY_FILTER}'" >
            ${i18n.APPLY_FILTER}
        </button>
    </div>
</div>