
.dozeMultiFilterContainer .filterContainer {
    overflow:hidden;
    margin:0.2em;
    clear:both;
}

.dozeMultiFilterContainer .iconContainer .dijitButton {
    float: left;
    display: inline;
}

.dozeMultiFilterContainer .Filter {
    float: left;
}

.dozeMultiFilterContainer .iconMinus{
    background:transparent url('images/minusButton.gif') no-repeat scroll 0 center;
    width:14px;
    height:auto;
    cursor:pointer;
    display:inline-block;
    clear:both;
}

.dozeMultiFilterContainer .iconFixe {
    background:transparent url('images/fixed.gif') no-repeat scroll 0 center;
    width:14px;
    height:auto;
    cursor:not-allowed;
    display:inline-block;
    clear:both;
}

.dozeMultiFilterContainer .filterContainer .iconSearch{
    background-image:url('images/search.gif');
    background-repeat:no-repeat;
    width:12px;
    height:12px;
}

.dozeMultiFilterContainer .filterContainer .minusContainer{
    display:inline-block;	
    float:left;
    line-height:normal;
    vertical-align:middle;
    width:14px;
    height:auto;
    margin-top:0.1em;
    padding-right:0.2em;
}
