<div class="strength-outer" dojoAttachPoint="mainDiv">
    &nbsp;&nbsp;<b>Strength</b>: <span id="description" dojoAttachPoint="description">${description}</span>
    <div class="colorbar-outer"><div id="colorBar" dojoAttachPoint="colorBar"></div></div>
    <div dojoAttachPoint="advice"></div>
</div>