.dozeTransferBox .dgrid {
    width: 200px;
    height: 200px;

    /* Taken from rule for dijitInline */
    display: inline-block;
    vertical-align: middle;	
}

.dozeTransferBox .buttons {
    width: 27px;
}
