<div class="dozeTransferBox" id="widget_${id}" role="presentation"
     >
    <div data-dojo-attach-point="fromNode"></div>
    <div class="dijitReset dijitInline buttons">
        <button type="button" data-dojo-type="dijit.form.Button" 
                data-dojo-attach-event="onClick:add" 
                data-dojo-attach-point="addButton">&gt;</button>
        <button type="button" data-dojo-type="dijit.form.Button" 
                data-dojo-attach-event="onClick:remove" 
                data-dojo-attach-point="removeButton">&lt;</button>
    </div>
    <div data-dojo-attach-point="toNode, focusNode"></div>
    <input data-dojo-attach-point="valueNode" type="hidden" ${!nameAttrSetting}
           />
</div>