<div class="dozeUploader" id="widget_${id}" role="presentation"
     >
    <span data-dojo-attach-point="textNode">
    </span>
    <input type="file" data-dojo-type="dojox/form/Uploader" 
           data-dojo-props='uploadOnSelect:true' 
           data-dojo-attach-point="uploader, focusNode" />    	
    <div data-dojo-type="dijit/form/Button"
         data-dojo-attach-point="deleteButton" data-dojo-attach-event="onClick: clear_file"  
         data-dojo-props="title:'Remove the uploaded file',iconClass:'icon-dozedisk',style:'display:none'"
         >
        Remove the uploaded file
    </div>
    <input data-dojo-attach-point="valueNode" type="hidden" ${!nameAttrSetting}
           />
</div>